.TopFixedBanner{
    background: url("../img/banner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}
.TopBannerOverlay{

    min-height: 500px;
    width:100%;
    background: rgba(0, 0, 0,0.7);

}
.BannerContent{
  

    
}
.BannerTitle{
    margin-top: 12rem;
    font-family: 'Montserreat',sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;

}
.BannerSubTitle{
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 30px;
}
    

.BannerLink{
    background:rgb(154, 154, 87);
    display: inline-block;
    color: #ffffff;
    border:1px solid #ddd;
    font-size: 20px;
    padding: 5px 10px;
}
.BannerLink:hover{
    color:rgb(148, 148, 199);
    background-color: #fff;
    border-radius: 20%;
    
}
.AboutMian{
    margin-top: 8rem;
    
}

.AboutTitle{
    color:red;
}
.AboutLinkOne{
    background-color: brown;
    display: inline-block;
    width: 150px;
    padding: 8px 5px;
    color:white;
    margin-right: 2rem;

}
.AboutLinkTwo{
    background-color: seagreen;
    display: inline-block;
    width: 150px;
    padding: 8px 5px;

    color:white;
}


.navBackground{ 
    -webkit-transition:background-color 400ms linear ;
    -moz-transition:background-color 400ms linear ;
    -o-transition:background-color 400ms linear ;
    transition:background-color 400ms linear ;
   
    background-color: rgba(0,0,0,0.0)!important ;
}

.navBackgroundScroll{
    -webkit-transition:background-color 400ms linear ;
    -moz-transition:background-color 400ms linear ;
    -o-transition:background-color 400ms linear ;
    transition:background-color 400ms linear ;
    

    background-color: #ffffff !important;
}


.navItem{
    color:#ffffff !important;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 400;

}
.navBarItemScroll{
    color:#000 !important;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.navTitle{
    margin-left: 5rem;
    font-family: 'Montserreat',sans-serif;
    font-size: 45px;
    font-weight: 600;
    color:#ffffff !important;
}

.navTitleScroll{
    margin-left: 5rem;
    font-family: 'Montserreat',sans-serif;
    font-size: 45px;
    font-weight: 600;
    color:#18A1C1 !important;
}
.navBarMain{
    margin-left: 25rem;

}


.FeaturesFixedBanner{
    background: url("../img/features.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}

.FeaturesBannerOverlay{

    min-height: 400px;
    width:100%;
    background: rgba(0, 0, 0,0.7);

}

.MainCard{
    margin-top: 3.5rem;
    margin-right: 2px;
}

.img{
    width: 20px;
    height: 50px;
  
}
.SummaryMain{
padding-top: 12rem;
}
.SummaryCount{
    color: #fff;
    font-size: 40px;
}
.SummaryDesk{
    color:burlywood;
    font-size: 24px;
    font-family: 'Montserreat',sans-serif;
    font-weight: 600;


}

.playBtn{
    color:brown;
    font-size: 25px;
    
}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars {
    background: #18A1C1;
    

  }
  



  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background:#18A1C1;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: absolute;
    height: 100%;
    
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #12141e;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill:#4c5fba;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad !important;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0,0.7);
  }

  /* Individual item */
.bm-item {
    display: inline-block;
    color: #fff!important;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    display: inline-block;
  

  }

  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 10px;
    top: 20px;
    background-color: rgba(00,00,00,0.0) !important;

  }
