.TopFixedBanner{
    background: url("../img/banner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}
.TopBannerOverlay{

    min-height: 500px;
    width:100%;
    background: rgba(0, 0, 0,0.7);

}
.BannerContent{
  

    
}
.BannerTitle{
    margin-top: 12rem;
    font-family: 'Montserreat',sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;

}
.BannerSubTitle{
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 30px;
}
    

.BannerLink{
    background:rgb(154, 154, 87);
    display: inline-block;
    color: #ffffff;
    border:1px solid #ddd;
    font-size: 20px;
    padding: 5px 10px;
}
.BannerLink:hover{
    color:rgb(148, 148, 199);
    background-color: #fff;
    border-radius: 20%;
    
}
.AboutMian{
    margin-top: 8rem;
    
}

.AboutTitle{
    color:red;
}
.AboutLinkOne{
    background-color: brown;
    display: inline-block;
    width: 150px;
    padding: 8px 5px;
    color:white;
    margin-right: 2rem;

}
.AboutLinkTwo{
    background-color: seagreen;
    display: inline-block;
    width: 150px;
    padding: 8px 5px;

    color:white;
}


.navBackground{ 
    -webkit-transition:background-color 400ms linear ;
    -moz-transition:background-color 400ms linear ;
    -o-transition:background-color 400ms linear ;
    transition:background-color 400ms linear ;
   
    background-color: rgba(0,0,0,0.0)!important ;
}

.navBackgroundScroll{
    -webkit-transition:background-color 400ms linear ;
    -moz-transition:background-color 400ms linear ;
    -o-transition:background-color 400ms linear ;
    transition:background-color 400ms linear ;
    

    background-color: #ffffff !important;
}


.navItem{
    color:#ffffff !important;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 400;

}
.navBarItemScroll{
    color:#000 !important;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.navTitle{
    margin-left: 5rem;
    font-family: 'Montserreat',sans-serif;
    font-size: 45px;
    font-weight: 600;
    color:#ffffff !important;
}

.navTitleScroll{
    margin-left: 5rem;
    font-family: 'Montserreat',sans-serif;
    font-size: 45px;
    font-weight: 600;
    color:#18A1C1 !important;
}
.navBarMain{
    margin-left: 25rem;

}


.FeaturesFixedBanner{
    background: url("../img/features.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}

.FeaturesBannerOverlay{

    min-height: 400px;
    width:100%;
    background: rgba(0, 0, 0,0.7);

}

.MainCard{
    margin-top: 3.5rem;
    margin-right: 2px;
}

.img{
    width: 20px;
    height: 50px;
  
}